In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kirakira,-10.4544,161.9205,77.92,89,100,8.14,SB,2022-01-27 04:50:05
1,1,Yellowknife,62.4560,-114.3525,4.41,89,100,4.61,CA,2022-01-27 04:45:52
2,2,Mataura,-46.1927,168.8643,58.48,44,47,7.11,NZ,2022-01-27 04:50:06
3,3,Namatanai,-3.6667,152.4333,84.38,72,72,5.75,PG,2022-01-27 04:50:06
4,4,Port Elizabeth,-33.9180,25.5701,67.10,100,100,8.05,ZA,2022-01-27 04:49:41

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kirakira,-10.4544,161.9205,77.92,89,100,8.14,SB,2022-01-27 04:50:05
3,3,Namatanai,-3.6667,152.4333,84.38,72,72,5.75,PG,2022-01-27 04:50:06
8,8,Hobart,-42.8794,147.3294,80.22,67,75,1.99,AU,2022-01-27 04:50:08
10,10,Rikitea,-23.1203,-134.9692,78.17,79,5,18.39,PF,2022-01-27 04:50:09
19,19,Busselton,-33.6500,115.3333,81.09,36,0,6.26,AU,2022-01-27 04:50:13
24,24,Vaini,-21.2000,-175.2000,86.16,84,20,6.91,TO,2022-01-27 04:50:15
25,25,Grand Gaube,-20.0064,57.6608,82.38,57,23,8.99,MU,2022-01-27 04:50:16
26,26,Indapur,18.3000,73.2500,79.30,32,5,4.59,IN,2022-01-27 04:50:16
27,27,Port-Gentil,-0.7193,8.7815,79.99,80,100,10.07,GA,2022-01-27 04:50:17
31,31,San Andres,12.5847,-81.7006,80.62,69,40,9.22,CO,2022-01-27 04:50:18

In [25]:
# Check for null values
preferred_cities_df.count()

City_ID       117
City          117
Lat           117
Lng           117
Max Temp      117
Humidity      117
Cloudiness    117
Wind Speed    117
Country       117
Date          117
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0      Kirakira      SB     77.92 -10.4544  161.9205
3     Namatanai      PG     84.38  -3.6667  152.4333
8        Hobart      AU     80.22 -42.8794  147.3294
10      Rikitea      PF     78.17 -23.1203 -134.9692
19    Busselton      AU     81.09 -33.6500  115.3333
24        Vaini      TO     86.16 -21.2000 -175.2000
25  Grand Gaube      MU     82.38 -20.0064   57.6608
26      Indapur      IN     79.30  18.3000   73.2500
27  Port-Gentil      GA     79.99  -0.7193    8.7815
31   San Andres      CO     80.62  12.5847  -81.7006

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kirakira,SB,77.92,-10.4544,161.9205,SanBiz Lodge
3,Namatanai,PG,84.38,-3.6667,152.4333,Seagulls Inn Namatani
8,Hobart,AU,80.22,-42.8794,147.3294,Mantra on Collins Hobart
10,Rikitea,PF,78.17,-23.1203,-134.9692,People ThankYou
19,Busselton,AU,81.09,-33.6500,115.3333,Observatory Guest House
24,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
25,Grand Gaube,MU,82.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
26,Indapur,IN,79.30,18.3000,73.2500,Hotel Open Umbrella
27,Port-Gentil,GA,79.99,-0.7193,8.7815,Fengshui Residence
31,San Andres,CO,80.62,12.5847,-81.7006,Hotel Arena Blanca

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))